@import '../../style/usage/core/reset';
.bookulmax{
    width: 100%;
    background-color: white;
    @include flexbox();
    @include flex-direction(column);
    .bookulli{
        width: 100%;
        margin-top: .1rem;
        padding-bottom: .1rem;
        @include border(0 0 1px 0,#f0f1f2,solid);
        @include flexbox() ;
        .bookulimg{      
        height: 88px;
        @include flex();       
       img{
        display: block; 
        margin: 5px auto;  
        width: 66px;
        height: 88px;
       
        } 
    }
    .bookulcenter{
        padding-top: 5px;
        @include flex(3.5);
        height: 1rem;
        background-color: white;
        p{
            width: 100%;
            height: .4rem;
            @include ellipsis(null,2);
            color: #969ba3;
            margin-bottom: 2px;
            margin-top: 2px;
        }
        .textfooter{
            @include flexbox();
            width: 100%;
            color: #969ba3;
            font-size:12px;
            .footerleft{
             @include flex();   
            }
            .footerright{
             @include flex(2);
             text-align: right;
             padding-right: 15px;
             span{
                 display: inline-block;
                 margin-left: 2px;
                 padding: 2px;
             }
             span:nth-child(1){
                 @include border(1px,#969ba3,solid);
             }
             span:nth-child(2){
                 @include border(1px,#ed424b,solid);
                 color: #ed424b;
             }
             span:nth-child(3){
                 @include border(1px,#4284ed,solid);
                 color: #4284ed;
             }
            }
        }
    }
    }
    
    
}
